<div>
<form method="post">
  <div>
    <label for="TEXT">TEXT：</label>
    <input type="text" id="TEXT" name="TEXT">
  </div>
  <div>
    <label for="LINK">LINK：</label>
    <input type="text" id="LINK" name="LINK">
  </div>
  <div>
    <input type="submit" value="PUSH">
  </div>
</form>
</div>
