<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <h1>StickeyNote By Express/MongoDB</h1>
            <%- include("form.ejs") %>
            <%- include("links.ejs", data) %>
        </div>
    </body>
</html>
